image: eclipse-temurin:17-jdk-noble

# Disable the Gradle daemon for Continuous Integration servers as correctness
# is usually a priority over speed in CI environments. Using a fresh
# runtime for each build is more reliable since the runtime is completely
# isolated from any previous builds.
variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  GRADLE_USER_HOME: "${CI_PROJECT_DIR}/.gradle"

default:
  cache:
    # Cache wrapper as long as properties are the same
    - paths:
        - .gradle/wrapper
      key:
        files:
          - gradle/wrapper/gradle-wrapper.properties
    # Cache Gradle cache for the current commit only
    - paths:
        - .gradle/caches
      key: ${CI_COMMIT_SHA}

stages:
  - test
  - build
  - mirror

build_job:
  stage: build
  tags:
    - Java
    - Docker
    - SpringBoot
  before_script:
    - export INTERNAL_PREFIX=
  script:
    - ./gradlew dockerBuildArm64
    - ./gradlew dockerBuildAmd64

test_job:
  stage: test
  tags:
    - Java
    - Docker
    - SpringBoot
  script:
    - ./gradlew clean test
  artifacts:
    when: always
    paths:
      - build/reports/tests/fireblocks-service/html
    reports:
      junit: "**/build/reports/tests/fireblocks-service/xml/*.xml"  # XML for GitLab Tests tab
    expire_in: 7 days


#vulnerability_scan:
#  stage: vulnerability_scan
#  tags:
#    - Linux
#    - Debian11
#    - PortalApi
#  before_script:
#    - export VERSION=`cat gradle.properties | grep "VERSION" | cut -d'=' -f2`
#    - export DOCKER_IMAGE_FULL_URL=${JFROG_ARTIFACTORY_URL}/${INTERNAL_PREFIX}${JFROG_REPOSITORY_REAL_NAME}/${DOCKER_IMAGE_NAME}:$VERSION
#  script:
#    - ./gradlew clean build -x test dockerBuildAmd64
#    - echo $DOCKER_HUB_PAT | docker login --username cloudsadmin --password-stdin
#    - |
#      docker scout cves \
#        --format markdown \
#        --only-severity critical \
#        --only-severity high \
#        $DOCKER_IMAGE_FULL_URL \
#        > vulnerability_scan.txt || true
#    - |
#      docker scout recommendations \
#        --format markdown \
#        $DOCKER_IMAGE_FULL_URL \
#        > vulnerability_scan_recommendations.txt || true
#    - docker scout cache prune -f
#    - docker logout
#  artifacts:
#    when: always
#    name: "vulnerability_scan_securosys-ska.txt"
#    paths:
#      - "vulnerability_scan.txt"
#      - "vulnerability_scan_recommendations.txt"
#    expire_in: 1 day

#docker_tag_image_job:
#  stage: push2jfrog
#  tags:
#    - Linux
#    - Debian11
#    - PortalApi
#  before_script:
#    - export INTERNAL_PREFIX=internal-
#    - export PROP_PREFIX=`cat gradle.properties | grep "VERSION" | cut -d'=' -f2`
#  script:
#    - bash fireblocks-deploy/securosys-repository/deploy_script.sh securosys-docker-repository-login
#    - bash fireblocks-deploy/securosys-repository/deploy_script.sh create-downloadlink-file-docker v
#    - bash fireblocks-deploy/securosys-repository/deploy_script.sh create-configuration-zip-file v
#    - bash fireblocks-deploy/securosys-repository/deploy_script.sh create-zip v
#    - bash fireblocks-deploy/securosys-repository/deploy_script.sh push-zip-to-repository v
#    - bash fireblocks-deploy/securosys-repository/deploy_script.sh create-downloadlink-file-docker l
#    - bash fireblocks-deploy/securosys-repository/deploy_script.sh create-configuration-zip-file l
#    - bash fireblocks-deploy/securosys-repository/deploy_script.sh create-zip l
#    - bash fireblocks-deploy/securosys-repository/deploy_script.sh push-zip-to-repository l
#    - bash fireblocks-deploy/securosys-repository/deploy_script.sh push-amd64-docker-image-to-repository
#    - bash fireblocks-deploy/securosys-repository/deploy_script.sh push-arm64-docker-image-to-repository
#    - bash fireblocks-deploy/securosys-repository/deploy_script.sh securosys-docker-repository-logout
#    - echo "Release Version Tag:" $PROP_PREFIX

mirror:
  stage: mirror
  tags:
    - SpringBoot
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_TAG
  # Mirror the main branch as-is to GitHub
  script:
    - git fetch --tags
    - git remote add github git@github.com:securosys-com/fireblocks-external-key-store.git || true
    - git push --tags --force github refs/remotes/origin/main:refs/heads/main
